INSIGHTS:
  ID: "533394ae-9e05-4ae7-9d18-2d3e994a2264"
CI:
  DOCKER_IMAGE_NAME: "hello-hi-k8s"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/modern-poc/k8s-cdt-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  NOBUILD: "false"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "hello-hi-k8s"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"  
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PROCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
